@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;1,400;1,500&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    background-color: #17A288;
}
  
.box {
    background: #fff;
    padding: 25px;
    width: 257px;
    border-radius: 15px;
}

.content, .key-code, .details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .content {
    flex-direction: column;
}
.key-code {
    border: 4px solid #17A288;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 27px;
}

.text ,.key-code, .key-name {
    font-size: 27px;
    font-weight:bold;
    color: #17A288;
    margin-top: 15px;
}

.text {
    text-align: center;
    font-size: 30px;
    background-color: #17A288;
    color: #fff;
}

.key-name {
    text-transform: uppercase;
}

.details {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.details p {
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.details p:last-child {
    border-left: 1px solid #ccc;
}